<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 25px;">
            <div class="container-fluid">
              <a class="navbar-brand" href="/homepage">Abode Stay</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="/events">Events</a>
                  <a class="nav-link" href="#">Culture</a>
                  <a class="nav-link disabled">About Us</a>
                </div>
              </div>
            </div>
          </nav>
        <div class="col-lg-8">
            <div class="cs-blog-detail">
                <div class="cs-main-post">
                    <figure><img onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                            data-pagespeed-url-hash="2714250504" alt="jobline-blog (8)"
                            src="https://www.wildernessexcursion.com/uploads/img/sikles-trek-4-days-3-nights.jpg" >
                    </figure>
                </div>
                <div class="cs-post-title">
                    <div class="cs-author">
                        <div class="cs-text">
                            <a href="http://jobcareer.chimpgroup.com/jobdoor/user/jobcareer-admin/">Sikles Homestay</a>
                        </div>
                    </div>
                    <div class="post-option">

                        <span class="post-date"><a href="http://jobcareer.chimpgroup.com/jobdoor/2015/11/"><i
                                    class="cs-color icon-calendar6"></i>Lamjung, Besisahar</a></span>
                    </div>
                </div>
                <div class="cs-post-option-panel">
                    <div class="rich-editor-text">
                        <p>Ravenously while stridently coughed far promiscuously below jeez much yikes bland that
                            salamander
                            cunningly some over abhorrent as house with between ouch that well scurrilously alas
                            capybara
                            massive outdid oh said hello majestically roadrunner lobster much bled alas lighted together
                            waved upheld more far woolly ahead darn far far bore far far saw baneful upset rebound bowed
                            possessive before or indisputably against.</p>
            
                    </div>
                </div>
                <div class="card">
                    <ul class="list-group">
                        <li class="list-group-item">OUR SERVICES</li>
                        <li class="list-group-item">24hr hot water</li>
                        <li class="list-group-item">Variety of room</li>
                        <li class="list-group-item">Transportation Service</li>
                        <li class="list-group-item">Typical Nepali Food</li>
                      </ul>
                </div>
                <div></div>
                <div class="card-deck">
                    <div class="card">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1636598283264-664035b8d4e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1780&q=80" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Homestay</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSTNBo6B2qWTW2UtpwpNOip-E1wVfnbKanUOg&usqp=CAU&fbclid=IwAR1U-VvJM7X8om-K3hSDlA2qi1hRpjB_YqzEOYj-bwxJ0ArFrQWk-AXOrAs" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Room 101</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-TGXOdq89ePE_Bsl0Y6TxDwGuEWQMYJoGuQ&usqp=CAU&fbclid=IwAR3QvVbx6p2az09HTfJgS6uK6dIzVWRFTv6uLJt9HvLBZPs9HA-XyTe7h00" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Room 201</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

    </div>
</body>

</html>